.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
}
.no-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 34px;
  font-weight: 500;
}
