.card {
    width: 280px;
    display: grid;
    grid-template-rows: 350px 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 10px;
    position: relative;
}
.card .image-container {
    max-width: 210px;
    height: 280px;
}
.card .image-container img {
    height: inherit;
    width: inherit;
}
.card-title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.card-description{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-description .price{
    font-size: 24px;
    font-weight: 600;
}
.card-description .color{
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
}
.add-to-favorite {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.delete-from-cart {
    position: absolute;
    top: 25px;
    right: 0;
}