.added-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-image {
    max-width: 140px;
    height: 200px;
}
.item-image img {
    height: inherit;
    width: inherit;
    max-width: inherit;
}
.item-title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 10px 0;
}
.item-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}