.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 800px;
    max-height: 800px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #ffffff;
}
.modal-header {
    padding: 10px 20px;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #2F88FF;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
    position: relative;
}
.modal-body {
    margin: 15px 0;
    padding: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    font-size: 28px;
    text-align: center;
    font-weight: 600;
}
.modal-actions {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}