.order-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order-form input {
    height: 30px;
    width: 100%;
    background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #bdbdbd;
      border-radius: 0.25rem;
}
.order-form > div {
   text-align: left;
    margin-bottom: 35px;
    width: 50%;
    position: relative;
}
.order-form > div > label {
    font-size: 18px;
    display: block;
}
.form-error {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 14px;
    font-style: italic;
    color: red;
}