.btn {
    margin: 15px;
    width: 200px;
    height: 60px;
    color: #fff;
    border-color: #007bff;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.btn:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4),
                0 0 35px 5px rgba(255, 255, 255, 0.5) inset;
}
.close-btn {
	overflow: hidden;
	position: relative;
	border: none;
	padding: 0;
	width: 2em; 
    height: 2em;
	border-radius: 50%;
	background: transparent;
	color: rgba(0, 0, 0, 0.4);
	font: inherit;
	text-indent: 100%;
	cursor: pointer;
}
.close-btn:hover {
	color: rgba(0, 0, 0, 0.8);
    transition: color .2s ease-in-out;
}	
.close-btn:before, .close-btn:after {
	position: absolute;
	top: 15%; 
    left: calc(50% - .0625em);
	width: .125em; 
    height: 70%;
	border-radius: .125em;
	transform: rotate(45deg);
	background: currentcolor;
	content: ''
}	
.close-btn:after { transform: rotate(-45deg); }
