.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    max-width: 800px;
    max-height: 600px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
.modal-header {
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-body {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    font-size: 18px;
    font-style: italic;
}
.modal-actions {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}