.header {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
  }
  .card-wrapper {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
  }
  .logo-container {
    max-width: 150px;
    height: 120px;
  }
  .logo-container img {
    height: inherit;
    width: inherit;
  }
  .nav, .nav-store, .nav-favorites, .nav-home {
    display: flex;
    align-items: center;
  }
  .nav-store, .nav-favorites, .nav-home {
    cursor: pointer;
    padding: 0 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  }
  .nav-store p, .nav-favorites p, .nav-home p {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 600;
  }
  .nav-favorites {
    margin: 0 35px;
  }
  .store {
    display: flex;
    width: 150px;
    justify-content: space-between;
  }
  .buy-store, .favorite-store {
    position: relative;
  }
  .nav-store .buy, .nav-favorites .star, .nav-home .home {
    width: 40px;
    height: 40px;
  }
  .cart-count, .favorite-count {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    position: absolute;
    top: -10px;
    left: -5px;
    background-color: red;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
  }
  .navLink {
    text-decoration: none;
    color: #000000;
  }
  